@import 'bootstrap-custom';

/* ==========================================================================
   Author's custom variables
   ========================================================================== */
$brand-primary:         #bb8d0a;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

//** Background color for `<body>`.
$body-bg:               #e9e8e8;
//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.14)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.82)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.43)); // ~34px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: $body-bg;
  color: $text-color;
  font-style: $font-family-base;
  font-size: $font-size-base;
}
h1 {
  font-size: $font-size-h1;
  text-transform: uppercase;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}
a {
  color: $link-color;
  &:hover, &:focus {
    color: $link-hover-color;
    outline: none;
  }
}
.btn-label-noshow {
  display: none;
}
.assistiveText { /*For accessibility skip navigation*/
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}


/********************************************************************************
  Header
********************************************************************************/
header .container {
  background: url('/global/images/fhr/header.jpg') no-repeat;
  color: #061e61;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  height: 208px;
  p:first-child {
    font-size: 60px;
    a {
      color: #061e61;
    }
  }
  p:nth-child(2) {
    font-size: 30px;
    font-style: italic;
  }
}

/** Navigation **/
nav.navbar {
  background-color: transparent;
  border: none;
  border-top: 4px solid #061e61;
  border-bottom: 4px solid #061e61;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  a {
    color: #061e61 !important;
  }
}
.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
  li a:hover {
    background-color: #000 !important;
    color: #fff !important;
  }
  li.active a {
    background-color: #000 !important;
    color: #fff !important;
  }
}

/********************************************************************************
  Main
********************************************************************************/
main .container {
  background-color: #fff;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.16);
  .row {
    padding: 18px;
  }
}

/********************************************************************************
  Footer
********************************************************************************/
footer .container {
  background-color: #cecece;
  .row {
    padding: 16px;
  }
}

/********************************************************************************
  Media Queries
********************************************************************************/
@media (max-width: 769px) {
  nav.navbar {
    background-color: #cecece;
  }
  .navbar-nav {
    width: 0;
    float: left;
    margin: 0;
    > li {
      float: left;
      display: table;
    }
  }
}
